@font-face {
    font-family: 'Arial';
    src: local('Arial'), local('Arial'),
    url('../fonts/arial/Arial.woff') format('woff');
}

@font-face {
    font-family: 'Geo Sans Light';
    src: local('GeosansLight'), local('GeosansLight'),
    url('../fonts/geo_sans_light/GeosansLight.woff') format('woff');
}
