/*
 * Home slider style
 */
#mega-slider{
    position: relative;
    .mg-book-now{
        background-color: transparent;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
}

/*
 * Paginator slider
 */
.pagination{
    li.sa-active{
        a{
            color: #fff;
            background-color: #16262e;
            border-color: #16262e;
        }
    }
    li{
        a{
            color: #16262e;
        }
    }
}

/*
 * Map style
 */
#mg-map{
    body.apartment-detail &{
        height: 500px;
    }
}

.booking-detail{
    .btn-main{
        position: absolute;
        top: -40px;
        right: 0px;
    }

    .mg-features{
        display: none;
    }
}

/*
 * Login style
 */
#forgot-password{
    color: #16262e;
}

.social-button{
    color: #ffffff;
    width: 100%;
    border-radius: 4px;

    &.blue{
        background-color: #3B64C4;
    }

    &.red{
        background-color: #D04332;
    }

    i.fa{
        font-size: 1.4em;
        margin-right: 15px;
    }

    &:hover{
        color: #ffffff;
    }
}

body{
    &.login{
        .register-form{
            & > .row{
                display: flex;
                input[type='submit']{
                    position: absolute;
                    bottom: 25px;
                }
            }
        }
    }
}

/*
 * Profiles page style
 */
.my-profile{
    .list-group-item{
        display: inline-block;
        width: 100%;
    }
}

/*
 * Bookig page styles
 */
.mg-available-rooms{
    .mg-avl-room-title{
        span{
            float: none !important;
        }
        & > span{
            float: right !important;
        }
    }

    .mg-room-fecilities{
        ul{
            li{
                float: left;
                width: 50%;
            }
        }
    }
}

/*
 * Apto detail page styles
 */
.apartment-detail{
    .mg-room-fecilities{
        ul{
            li{
                float: left;
                width: 33.3%;
            }
        }
    }
}
