/*
 * Home slider style
 */
#mega-slider{
    position: relative;
    .mg-book-now{
        background-color: transparent;
        position: absolute;
        bottom: 70px;
        width: 100%;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            opacity: 0.6;
            background-color: #16262E;
        }

        & > .container{
            position: relative;
            z-index: 10;
        }
    }
}

/*
 * Paginator slider
 */
.pagination{
    li.sa-active{
        a{
            color: #fff;
            background-color: #16262e;
            border-color: #16262e;
        }
    }
    li{
        a{
            color: #16262e;
        }
    }
}

/*
 * Map style
 */
#mg-map{
    body.apartment-detail &{
        height: 500px;
    }
}

.booking-detail{
    .btn-main{
        position: absolute;
        top: -40px;
        right: 0px;
    }

    .mg-features{
        display: none;
    }
}

/*
 * Login style
 */
#forgot-password{
    color: #16262e;
}

.social-button{
    color: #ffffff;
    width: 100%;
    border-radius: 4px;

    &.blue{
        background-color: #3B64C4;
    }

    &.red{
        background-color: #D04332;
    }

    i.fa{
        font-size: 1.4em;
        margin-right: 15px;
    }

    &:hover{
        color: #ffffff;
    }
}

body{
    &.login{
        .register-form{
            & > .row{
                display: flex;
                input[type='submit']{
                    position: absolute;
                    bottom: 25px;
                }
            }
        }
    }
}

/*
 * Profiles page style
 */
.my-profile{
    .list-group-item{
        display: inline-block;
        width: 100%;
    }
}

/*
 * Bookig page styles
 */
body.booking{
    .mg-available-rooms{
        .mg-avl-room-title{
            span{
                float: none !important;
            }
            & > span{
                float: right !important;
            }
        }

        .mg-room-fecilities{
            // ul{
            //     li{
            //         float: left;
            //         width: 50%;
            //     }
            // }
        }
    }
}

body.my-bookings{
    .sa-date{
        // display: flex;
        margin-top: 20px;
        span{
            width: 70%;

            &.day{
                text-align: center;
                color: #16262e;
                font-size: 30px;
                font-weight: 600;
                width: 30%;
            }
        }
    }
}

/*
 * Apto detail page styles
 */
.apartment-detail{
    .mg-room-fecilities{
        ul{
            li{
                float: left;
                width: 33.3%;
            }
        }
    }
}

/*
 * Modifye some default effects
 */
.form-control{
    font-size: 18px;
}

.cs-select span{
    padding: 9px 12px 10px;
}

/*
 * style for loader div
 */
#loader{
    position: fixed;
    z-index: 100000;
    background: #16262E;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none;
    div{
        background-image: url('../images/loader.svg');
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
    }
}
